.focinhos-felizes-screen {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.focinhos-felizes-screen .focinhos-felizes-2 {
  height: 18032px;
  position: relative;
  width: 1442px;
}

.focinhos-felizes-screen .overlap-group-2 {
  height: 1648px;
  left: 2px;
  position: absolute;
  top: 16384px;
  width: 1440px;
}

.focinhos-felizes-screen .footer-instance {
  background-color: transparent !important;
  left: 0 !important;
  position: absolute !important;
  top: 704px !important;
}

.focinhos-felizes-screen .footer-2 {
  align-self: unset !important;
  width: 1440px !important;
}

.focinhos-felizes-screen .section-2 {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 709px;
  justify-content: center;
  left: 0;
  padding: 120px 0px;
  position: absolute;
  top: 0;
  width: 1439px;
}

.focinhos-felizes-screen .container-6 {
  height: 48px;
  margin-left: -0.5px;
  margin-right: -0.5px;
  position: relative;
  width: 1440px;
}

.focinhos-felizes-screen .row-7 {
  align-items: flex-start;
  display: flex;
  gap: 5px;
  height: 318px;
  justify-content: center;
  padding: 0px 10px;
  position: relative;
  width: 1438px;
}

.focinhos-felizes-screen .card-wrapper {
  align-items: flex-start;
  display: flex;
  height: 318px;
  justify-content: center;
  margin-left: -12.5px;
  padding: 0px 15px 120px;
  position: relative;
  width: 357px;
}

.focinhos-felizes-screen .card {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 338px;
  margin-bottom: -140px;
  margin-left: -7px;
  margin-right: -7px;
  overflow: hidden;
  padding: 0px 15px 120px;
  position: relative;
  width: 341px;
}

.focinhos-felizes-screen .image {
  background-image: url(../../../static/img/image.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 214px;
  margin-right: -18px;
  position: relative;
  width: 329px;
}

.focinhos-felizes-screen .card-body {
  align-items: flex-start;
  align-self: stretch;
  background-color: #fafafa;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-bottom: -120px;
  padding: 40px 30px;
  position: relative;
  width: 100%;
}

.focinhos-felizes-screen .color-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 0px 0px 15px;
  position: relative;
  width: 100%;
}

.focinhos-felizes-screen .color {
  align-self: stretch;
  color: #000000;
  font-family: "Space Grotesk", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 32px;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.focinhos-felizes-screen .col-10 {
  align-items: flex-start;
  display: flex;
  height: 318px;
  justify-content: center;
  padding: 0px 15px 120px;
  position: relative;
  width: 357px;
}

.focinhos-felizes-screen .card-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 338px;
  margin-bottom: -140px;
  margin-left: -7px;
  margin-right: -7px;
  overflow: hidden;
  position: relative;
  width: 341px;
}

.focinhos-felizes-screen .image-2 {
  background-image: url(../../../static/img/image-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 214px;
  position: relative;
  width: 329px;
}

.focinhos-felizes-screen .card-body-2 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  height: 126px;
  padding: 40px 30px;
  position: relative;
  width: 100%;
}

.focinhos-felizes-screen .heading-9 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 39px;
  padding: 0px 0px 15px;
  position: relative;
  width: 100%;
}

.focinhos-felizes-screen .color-2 {
  align-self: stretch;
  color: #000000;
  font-family: "Space Grotesk", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 32px;
  margin-bottom: -7px;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.focinhos-felizes-screen .image-3 {
  align-self: stretch;
  background-image: url(../../../static/img/image-2.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 214px;
  position: relative;
  width: 100%;
}

.focinhos-felizes-screen .card-body-3 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  height: 291px;
  padding: 40px 30px;
  position: relative;
  width: 100%;
}

.focinhos-felizes-screen .heading-10 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 207px;
  padding: 0px 0px 15px;
  position: relative;
  width: 100%;
}

.focinhos-felizes-screen .col-11 {
  align-items: flex-start;
  display: flex;
  height: 318px;
  justify-content: center;
  margin-right: -12.5px;
  padding: 0px 15px 120px;
  position: relative;
  width: 357px;
}

.focinhos-felizes-screen .image-4 {
  background-image: url(../../../static/img/image-3.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 214px;
  position: relative;
  width: 329px;
}

.focinhos-felizes-screen .element-concluses {
  height: 1024px;
  left: 2px;
  position: absolute;
  top: 15360px;
  width: 1438px;
}

.focinhos-felizes-screen .element-design {
  height: 1024px;
  left: 2px;
  position: absolute;
  top: 14336px;
  width: 1438px;
}

.focinhos-felizes-screen .element-design-2 {
  height: 1024px;
  left: 3px;
  position: absolute;
  top: 13312px;
  width: 1438px;
}

.focinhos-felizes-screen .element-design-3 {
  height: 1024px;
  left: 2px;
  position: absolute;
  top: 12288px;
  width: 1438px;
}

.focinhos-felizes-screen .element-objetivos-do {
  height: 1024px;
  left: 2px;
  position: absolute;
  top: 11264px;
  width: 1438px;
}

.focinhos-felizes-screen .element-pesquisa {
  height: 1024px;
  left: 2px;
  position: absolute;
  top: 10240px;
  width: 1438px;
}

.focinhos-felizes-screen .element-pesquisa-2 {
  height: 1024px;
  left: 2px;
  position: absolute;
  top: 9216px;
  width: 1438px;
}

.focinhos-felizes-screen .element-pesquisa-3 {
  height: 1024px;
  left: 2px;
  position: absolute;
  top: 8192px;
  width: 1438px;
}

.focinhos-felizes-screen .element-pesquisa-4 {
  height: 1024px;
  left: 2px;
  position: absolute;
  top: 7168px;
  width: 1438px;
}

.focinhos-felizes-screen .element-pesquisa-5 {
  height: 1024px;
  left: 2px;
  position: absolute;
  top: 6144px;
  width: 1438px;
}

.focinhos-felizes-screen .element-pesquisa-6 {
  height: 1024px;
  left: 2px;
  position: absolute;
  top: 5120px;
  width: 1438px;
}

.focinhos-felizes-screen .element-pesquisa-7 {
  height: 1024px;
  left: 2px;
  position: absolute;
  top: 4096px;
  width: 1438px;
}

.focinhos-felizes-screen .element-pesquisa-8 {
  height: 1024px;
  left: 2px;
  position: absolute;
  top: 3072px;
  width: 1438px;
}

.focinhos-felizes-screen .element-pesquisa-9 {
  height: 1024px;
  left: 2px;
  position: absolute;
  top: 2048px;
  width: 1440px;
}

.focinhos-felizes-screen .element-problema {
  height: 1024px;
  left: 1px;
  position: absolute;
  top: 1024px;
  width: 1441px;
}

.focinhos-felizes-screen .element-briefing-2 {
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1442px;
}
