.photografy {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.photografy .overlap-group-wrapper {
  height: 4991px;
  overflow: hidden;
  width: 1441px;
}

.photografy .overlap-group-4 {
  height: 5030px;
  position: relative;
}

.photografy .fotos-2 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 63px;
  overflow-x: scroll;
  position: absolute;
  top: 1035px;
  width: 1316px;
}

.photografy .btn-swiper-button-5 {
  left: unset !important;
  position: relative !important;
  top: unset !important;
  transform: unset !important;
}

.photografy .container-18 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.photografy .row-17 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 40px;
  height: 250px;
  position: relative;
  width: 100%;
}

.photografy .col-31 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 1006px;
}

.photografy .mb-5 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 30px;
  height: 250px;
  padding: 0px 0px 12px;
  position: relative;
}

.photografy .heading-25 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.photografy .line-6 {
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 81px;
}

.photografy .filipa-moutinho-3 {
  color: var(--globalwhite);
  font-family: "Roboto", Helvetica;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 22.2px;
  margin-top: -1px;
  position: relative;
  width: 480px;
}

.photografy .heading-26 {
  align-items: flex-start;
  display: inline-flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  padding: 0px 0px 5px;
  position: relative;
}

.photografy .text-wrapper-39 {
  -webkit-text-stroke: 1.5px #ffffff;
  align-self: stretch;
  color: transparent;
  font-family: var(--headings-h1-font-family);
  font-size: var(--headings-h1-font-size);
  font-style: var(--headings-h1-font-style);
  font-weight: var(--headings-h1-font-weight);
  letter-spacing: var(--headings-h1-letter-spacing);
  line-height: var(--headings-h1-line-height);
  margin-top: -1px;
  position: relative;
  width: 809px;
}

.photografy .btn-swiper-button-6 {
  left: unset !important;
  position: relative !important;
  top: unset !important;
}

.photografy .group-4 {
  height: 5030px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1441px;
}

.photografy .section-10 {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 709px;
  justify-content: center;
  left: 0;
  padding: 120px 0px;
  position: absolute;
  top: 3377px;
  width: 1439px;
}

.photografy .container-19 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 14px;
  margin-left: -0.5px;
  margin-right: -0.5px;
  padding: 0px 160px;
  position: relative;
  width: 1440px;
}

.photografy .row-18 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 50px;
  padding: 10px;
  position: relative;
  width: 100%;
}

.photografy .col-32 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;
  padding: 15px 0px 15px 15px;
  position: relative;
}

.photografy .heading-27 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.photografy .text-wrapper-40 {
  color: #6b5bcc;
  font-family: "Space Grotesk", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.69px;
  line-height: 14.8px;
  margin-top: -1px;
  position: relative;
  width: 480px;
}

.photografy .container-20 {
  height: 48px;
  margin-left: -0.5px;
  margin-right: -0.5px;
  position: relative;
  width: 1440px;
}

.photografy .row-19 {
  align-items: flex-start;
  display: flex;
  gap: 5px;
  height: 318px;
  justify-content: center;
  padding: 0px 10px;
  position: relative;
  width: 1438px;
}

.photografy .col-33 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 340px;
  margin-bottom: -22px;
  padding: 0px 15px 120px;
  position: relative;
  width: 477px;
}

.photografy .card-14 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  height: 340px;
  margin-bottom: -120px;
  padding: 0px 15px 120px;
  position: relative;
  width: 100%;
}

.photografy .image-11 {
  align-self: stretch;
  background-image: url(../../../static/img/image-4.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 214px;
  position: relative;
  width: 100%;
}

.photografy .card-body-14 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  height: 126px;
  margin-bottom: -120px;
  padding: 40px 30px;
  position: relative;
  width: 100%;
}

.photografy .heading-28 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  margin-bottom: -1px;
  padding: 0px 0px 15px;
  position: relative;
  width: 100%;
}

.photografy .color-13 {
  align-self: stretch;
  color: #000000;
  font-family: "Space Grotesk", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 32px;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.photografy .col-34 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  height: 340px;
  margin-bottom: -22px;
  padding: 0px 15px 120px;
  position: relative;
}

.photografy .image-12 {
  align-self: stretch;
  background-image: url(../../../static/img/image-14.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 214px;
  position: relative;
  width: 100%;
}

.photografy .heading-29 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 39px;
  padding: 0px 0px 15px;
  position: relative;
  width: 100%;
}

.photografy .color-14 {
  align-self: stretch;
  color: #000000;
  font-family: "Space Grotesk", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 32px;
  margin-bottom: -7px;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.photografy .col-35 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 340px;
  margin-bottom: -22px;
  padding: 0px 15px 120px;
  position: relative;
  width: 462px;
}

.photografy .card-15 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 340px;
  margin-bottom: -120px;
  margin-right: -5px;
  overflow: hidden;
  padding: 0px 15px 120px;
  position: relative;
  width: 437px;
}

.photografy .image-13 {
  align-self: stretch;
  background-image: url(../../../static/img/image-15.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 214px;
  position: relative;
  width: 100%;
}

.photografy .card-body-15 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  height: 291px;
  margin-bottom: -120px;
  padding: 40px 30px;
  position: relative;
  width: 100%;
}

.photografy .heading-30 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 207px;
  padding: 0px 0px 15px;
  position: relative;
  width: 100%;
}

.photografy .footer-6 {
  background-color: transparent !important;
  display: flex !important;
  left: 0 !important;
  position: absolute !important;
  top: 4086px !important;
  width: 1439px !important;
}

.photografy .footer-7 {
  align-self: unset !important;
  margin-right: -1px !important;
  width: 1440px !important;
}

.photografy .section-11 {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 875px;
  justify-content: center;
  left: 1px;
  padding: 120px 0px;
  position: absolute;
  top: 2502px;
  width: 1439px;
}

.photografy .section-12 {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 875px;
  justify-content: center;
  margin-bottom: -120px;
  margin-left: -0.5px;
  margin-right: -0.5px;
  margin-top: -120px;
  padding: 70px 0px;
  position: relative;
  width: 1440px;
}

.photografy .col-36 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 45px;
  justify-content: center;
  padding: 15px 0px 15px 15px;
  position: relative;
  width: 1420px;
}

.photografy .frame-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.photografy .container-21 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 481px;
  padding: 0px 216px;
  position: relative;
  width: 1440px;
}

.photografy .mb-6 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 0px 0px 48px;
  position: relative;
}

.photografy .group-5 {
  height: 55px;
  position: relative;
  width: 1008px;
}

.photografy .heading-31 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  padding: 0px 0px 8px;
  position: relative;
  width: 1008px;
}

.photografy .text-wrapper-41 {
  color: #000000;
  flex: 1;
  font-family: "Space Grotesk", Helvetica;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 46.8px;
  margin-top: -1px;
  position: relative;
}

.photografy .row-20 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.photografy .col-37 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  padding: 0px 0px 15px;
  position: relative;
  width: 309px;
}

.photografy .card-16 {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  border: 0.25px solid;
  border-color: var(--globaltext);
  border-radius: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.photografy .card-body-16 {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
  padding: 24px;
  position: relative;
  width: 100%;
}

.photografy .frame-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-bottom: -14.5px;
  margin-top: -14.5px;
  position: relative;
}

.photografy .color-15 {
  color: #000000;
  font-family: "Space Grotesk", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 32px;
  margin-top: -1px;
  position: relative;
  width: 261px;
}

.photografy .element-5 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 84px;
  position: relative;
  width: 261px;
}

.photografy .paragraph-9 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 16px 0px 31px;
  position: relative;
  width: 261px;
}

.photografy .text-wrapper-42 {
  color: #000000;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 29.2px;
  margin-top: -1px;
  position: relative;
  width: 261px;
}

.photografy .col-38 {
  align-items: flex-start;
  display: flex;
  padding: 0px 0px 15px;
  position: relative;
  width: 309px;
}

.photografy .card-17 {
  align-items: center;
  background-color: #ffffff;
  border: 0.25px solid;
  border-color: var(--globaltext);
  border-radius: 10px;
  box-shadow: 0px 4px 12px #00000014;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.photografy .card-body-17 {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 24px;
  position: relative;
  width: 100%;
}

.photografy .color-16 {
  align-self: stretch;
  color: transparent;
  font-family: "Font Awesome 5 Free-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
}

.photografy .text-wrapper-43 {
  color: #ffc107;
  letter-spacing: 5.4px;
  line-height: 21.2px;
}

.photografy .text-wrapper-44 {
  color: #000000;
  font-family: "Space Grotesk", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 32px;
}

.photografy .element-6 {
  align-self: stretch;
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 84px;
  position: relative;
}

.photografy .paragraph-10 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 16px 0px 31px;
  position: relative;
  width: 100%;
}

.photografy .card-18 {
  align-items: center;
  background-color: #ffffff;
  border: 0.25px solid;
  border-color: var(--globaltext);
  border-radius: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.photografy .color-17 {
  align-self: stretch;
  color: #000000;
  font-family: "Space Grotesk", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 32px;
  margin-top: -1px;
  position: relative;
}

.photografy .btn-buttons-7 {
  left: unset !important;
  top: unset !important;
}

.photografy .btn-buttons-8 {
  color: #35207b !important;
  font-weight: 700 !important;
}

.photografy .fotos-123 {
  height: 752px !important;
  left: 1px !important;
  position: absolute !important;
  top: 1750px !important;
}

.photografy .section-13 {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 229px;
  justify-content: center;
  left: 1px;
  padding: 70px 0px;
  position: absolute;
  top: 1521px;
  width: 1440px;
}

.photografy .section-14 {
  align-items: center;
  background-color: #f1f1f1;
  border: 0px none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 609px;
  justify-content: center;
  left: 1px;
  padding: 120px 0px 100px;
  position: absolute;
  top: 912px;
  width: 1440px;
}

.photografy .container-22 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 14px;
  padding: 0px 160px;
  position: relative;
  width: 1440px;
}

.photografy .div-9 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.photografy .interests {
  color: var(--globalprimary);
  font-family: var(--headings-h6-font-family);
  font-size: var(--headings-h6-font-size);
  font-style: var(--headings-h6-font-style);
  font-weight: var(--headings-h6-font-weight);
  letter-spacing: var(--headings-h6-letter-spacing);
  line-height: var(--headings-h6-line-height);
  margin-top: -1px;
  position: relative;
  width: 480px;
}

.photografy .text-wrapper-45 {
  color: var(--globalblack);
  font-family: var(--headings-h2-font-family);
  font-size: var(--headings-h2-font-size);
  font-style: var(--headings-h2-font-style);
  font-weight: var(--headings-h2-font-weight);
  letter-spacing: var(--headings-h2-letter-spacing);
  line-height: var(--headings-h2-line-height);
  margin-top: -1px;
  position: relative;
  width: 638px;
}

.photografy .col-39 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
  position: relative;
  width: 397px;
}

.photografy .photography-i {
  align-self: stretch;
  color: #54595f;
  font-family: "Space Grotesk", Helvetica;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
}

.photografy .text-wrapper-46 {
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 32px;
}

.photografy .text-wrapper-47 {
  font-family: "Roboto", Helvetica;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 22.2px;
}

.photografy .heading-32 {
  align-self: stretch;
  flex: 0 0 auto;
  margin-bottom: -1px;
  position: relative;
  width: 100%;
}

.photografy .interesses-interesses4 {
  background-image: url(../../../static/img/bg-6.png) !important;
  position: absolute !important;
  top: 0 !important;
}
